#title {
  text-align: center;
  position: relative;
}

#title h1 {
  font: normal 36px/45px "Myriad Pro", "Myriad", "Gill Sans", "Frutiger Linotype", "Helvetica Neue", sans-serif;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
  color: white;
  position: left;
  left: 12px;
  width: 821px;
  height: 45px;
}


#title p {
  margin-top: 3px;
  margin-right: 0;
}


#title a:hover,
#title a:focus {

  background-color: #5b6269;
}

#title a:active {
  left: -13px;
}




a {
	color:#006699;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#0099CC;
}






#leftCol{
    float: left;
    font-family: "Trebuchet MS", Arial;
    color:#c2bcb5 
}



#plots{
    float: left;
    width: 1200px;
	height: 1000px;
}

#text{
    color:#c2bcb5 
}

#text p{
    font-family: "Trebuchet MS", Arial;
}

html, body {
  background-color: #20232e;
  color:#c2bcb5 
  font-family: sans-serif,Helvetica
}

