extends layout
block content
  link(rel='stylesheet', href="/stylesheets/game.css")
  script(type='text/javascript', src='/js/client/raphael-min.js');
  script(type='text/javascript', src='/js/client/hex.js');
  script(type='text/javascript', src='/js/client/vertex.js');
  script(type='text/javascript', src='/js/client/edge.js');
  script(type='text/javascript', src='/js/client/player.js');
  script(type='text/javascript', src='/js/client/board.js');
  script(type='text/javascript', src='/js/game.js');

  div(class="container-fluid fill", style="height:100%")
    div(class="row-fluid fill columns", style="height:100%")
      div(class="span2 fill", id='left_bar', style="height:100%;")
          div(class="row-fluid", style="height:50%")
            div(class="well", style="height:100%")
              legend Users
              ul(id="user-list")
                li(id="user1") test user
          div(class="row-fluid", style="height:50%")
            div(class="well", style="height:100%")
              legend Your Stuff
              ul(id="parts")
                li(id="part1") parts
      div(class="span7", id="game-container")
        div(class="row-fluid")
          div(class="well", id="game-well", style="position:relative;height:600px; z-index:1;background-color:#20232e")
          div(class="well", id="game-actions", style="position:relative;float:right; margin-top:-190px; width:200px; height:130px; z-index:1000")
            input(class="btn", type="button", id="btn-roll", value="Roll")
            input(class="btn", type="button", id="btn-start", value="Start Game")
            br
            br
            input(class="btn", type='button', id="btn-end", value="End Turn")
            input(class="btn", type="button", id="btn-prob", value="Toggle Prob")
            br
            br
            input(class="btn", type="button", id="btn-buy-dev", value="Buy Dev Card")
        div(class="row-fluid")
          div(class="well", style="height:175px")
            legend Cards
            div(class="span1")
              div(class="well", id="wood-well", style="background-color:#277D09; color:#FFFFFF") 0
            div(class="span1")
              div(class="well", id="brick-well", style="background-color:#7B090B; color:#FFFFFF") 0
            div(class="span1")
              div(class="well", id="sheep-well", style="background-color:#CCFF99") 0
            div(class="span1")
              div(class="well", id="wheat-well", style="background-color:#E37E00; color:#FFFFFF") 0
            div(class="span1")
              div(class="well", id="ore-well", style="background-color:#6F6161; color:#FFFFFF") 0
            div(class="span1")
              input(class="btn", type='button', id='knight-button', value="Knight")
              div(id="knight-quantity") 0 
              input(class="btn", type='button', id='yp-button', value="Year Of Plenty")
              div(id="yp-quantity") 0 
            div(class="span1")
            div(class="span1")
              input(class="btn", type='button', id='rb-button', value="Road Building")
              div(id="rb-quantity") 0 
              input(class="btn", type='button', id='rb-button', value="Monopoly")
              div(id="monopoly-quantity") 0 
            div(class="span1")
            div(class="span1")
              input(class="btn", type='button', id='vp-button', value="Victory Points")
              div(id="vp-quantity", style="text-align:center") 0 
        div(class="row-fluid")
          input(id="chat-text", style="width:90%;")
          input(type='button', id='chat-button', value='send')

      div(class="span3", id="right-side-bar")
        div(class="well", style="height:375px;")
          legend Event Log
          div(id="event-log", style="height:300px;overflow:scroll; border:1px solid #C0C0C0; border-radius:10px;")
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
            div mik says moo
        div(class="well", id="trade-window")
          legend Trade Window
          div(class="row-fluid")
            div(class="span1")
              div(class="well", id="wood-give", style="background-color:#277D09; color:#FFFFFF") 0
            div(class="span1")
            div(class="span1")
              div(class="well", id="brick-give", style="background-color:#7B090B; color:#FFFFFF") 0
            div(class="span4")
            div(class="span1")
              div(class="well", id="wood-for", style="background-color:#277D09; color:#FFFFFF") 0
            div(class="span1")
            div(class="span1")
              div(class="well", id="brick-for", style="background-color:#7B090B; color:#FFFFFF") 0
          div(class="row-fluid")
            div(class="span1")
              div(class="well", id="sheep-give", style="background-color:#CCFF99") 0
            div(class="span1")
            div(class="span1")
              div(class="well", id="wheat-give", style="background-color:#E37E00; color:#FFFFFF") 0
            div(class="span4")
              img(src="/images/right_arrow.png", style="margin-left:25%")
            div(class="span1")
              div(class="well", id="sheep-for", style="background-color:#CCFF99") 0
            div(class="span1")
            div(class="span1")
              div(class="well", id="wheat-for", style="background-color:#E37E00; color:#FFFFFF") 0
          div(class="row-fluid")
            div(class="span1")
              div(class="well", id="ore-give", style="background-color:#6F6161; color:#FFFFFF") 0
            div(class="span6")
            div(class="span1")
              div(class="well", id="ore-for", style="background-color:#6F6161; color:#FFFFFF") 0
          div(class="row-fluid")
            input(class="btn", type="button", id="trade-propse", value="Propose Trade")
            input(class="btn", type="button", id="trade-bank", value="Bank it")


