h1 Settlersmack
h2= title
div
  form(name='create_game', action='game', method='get')
    | Create Game: 
    input(type='text', name='create_game_input')) 
    input(type='submit', value='Create Game')
  form(name='join_game', action='', method='post')
    | Join Game:
    input(type='text', name='join_game_input')) 
    input(type='submit', value='Join Game')