extends layout
block content
  script(type='text/javascript', src='/js/home.js');
  h1 Settlersmack
  h2 #{title}
  div
    div(id='status')
    form(id='enter_game_form', action='game', method='post')
      | Player Name: 
      input(type='text', id='user_id', name='userID')) 
      br
      | Create/Join Game: 
      input(type='text', id='game_id', name='gameID')) 
      input(type='button', id='create_game', onclick='createGame()', value='Create Game')
      input(type='button', id='join_game', onclick='joinGame()', value='Join Game')